   body {
       padding: 0;
       margin: 0;
   }

   #menu {
       background-color: #FFD900;
       width: 1728px;
       height: 118px;
       left: 0px;
       top: 0px;
       position: absolute;
   }

   #logo {
       position: absolute;
       width: 202px;
       height: 63px;
       left: 58px;
       top: 27px;
   }

   #conteudo {
       position: absolute;
       width: 802px;
       height: 694px;
       left: 0px;
       top: 118px;
       background: #514988;
   }

   h1,
   h2,
   h3,
   p {
       font-family: Verdana, Geneva, Tahoma, sans-serif;
   }

   #tituloconteudo {
       font-style: normal;
       font-weight: 700;
       font-size: 70px;
       line-height: 36.46px;
       color: #F3C61F;
       align-items: center;
       text-align: center;
       display: flex;
   }

   #subtituloconteudo {
       position: absolute;
       width: 676px;
       height: 149px;
       left: 58px;
       top: 60px;
       color: #FFF;
       font-size: 30px;
       font-style: normal;
       line-height: 85.07px;
        align-items: center;
        text-align: center;
        display: flex;

   }

   p {
       font-family: 'Verdana';
       font-style: normal;
       font-weight: 400;
       font-size: 29px;
       line-height: 35.24px;
        display: flex;
       align-items: center;
       text-align: center;
       margin-top: 120px;
       color: #FFFFFF;
 
   }

   video {
       position: absolute;
       width: 880px;
       height: 510px;
       left: 817px;
       top: 284px;
   }

   #countdown {
       font-family: 'Verdana';
       font-style: normal;
       font-weight: 700;
       font-size: 70px;
       line-height: 85px;
       display: flex;
       align-items: center;
       text-align: center;
       position: absolute;
       width: 239px;
       height: 175px;
       left: 987px;
       top: 103px;
   }

   #subcountdown {
       position: absolute;
       width: 741px;
       height: 36px;
       left: 842px;
       top: 230px;
       font-family: 'Verdana';
       font-style: normal;
       font-weight: 700;
       font-size: 30px;
       line-height: 36px;
       display: flex;
       align-items: center;
       text-align: center;
       color: #E33881;
   }

   #ingressos {
       position: absolute;
       width: 800px;
       height: 33px;
       left: 89px;
       top: 827px;
       font-family: 'Verdana';
       font-style: normal;
       font-weight: 700;
       font-size: 27px;
       line-height: 33px;
       align-items: center;
       text-align: center;
       color: #F3C61F;
       display: flex;
   }

   #quinta {
       position: absolute;
       width: 204px;
       height: 204px;
       left: 81px;
       top: 890px;
   }

   #sexta {
       position: absolute;
       width: 204px;
       height: 204px;
       left: 285px;
       top: 890px;
   }

   #sabado {
       position: absolute;
       width: 204px;
       height: 204px;
       left: 489px;
       top: 890px;
   }

   #domingo {
       position: absolute;
       width: 204px;
       height: 204px;
       left: 693px;
       top: 890px;
   }

   button {
       position: absolute;
       width: 596px;
       height: 148px;
       left: 1004px;
       top: 903px;
       background: #514988;
       border-radius: 20px;
       border: none;
       font-size: 42px;
       font-weight: 700;
       line-height: 51px;
       align-items: center;
       text-align: center;
       color: #FFFFFF;
       font-style: normal;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   button:hover{
    background: #514988;
    cursor: pointer;
    color: #F3C61F;
   }
   .timer{
    display: grid;
    grid-auto-flow: column;
    margin-top: 20px;
   }
   #segundo{
    position: absolute;
    width: 239px;
    height: 175px;
    left: 1422px;
    top: 103px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    display: flex;
    align-items: center;
    text-align: center;   
    color: #514988;
   }
   #minuto {
    position: absolute;
    width: 273px;
    height: 175px;
    left: 1203px;
    top: 104px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #514988;
   }
   #hora{
    position: absolute;
    width: 270px;
    height: 175px;
    left: 987px;
    top: 103px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #514988;
   }
   #dia{
    position: absolute;
    width: 239px;
    height: 175px;
    left: 802px;
    top: 103px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #514988;
   }